<div class="col-md-5 pull-right">
  <%= form_for @user do |f| %>
    <div class="form-group">
      <%= f.label :email, "Email" %>
      <%= f.text_field :email, class: "form-control" %>
      <%= f.label :password, "Password"%>
      <%= f.password_field :password, class: "form-control" %>
      <%= f.label :password_confirmation, "Password Confirmation"%>
      <%= f.password_field :password_confirmation, class: "form-control" %>
      <br />
      <%= f.submit "Sign Up", class: "btn btn-primary btn-block" %>
    </div>
  <% end %>
</div>
